@import "tailwindcss";

body{
  background: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.app-body{ 
  margin-top: 80px;
  max-width: 1200px;  
  margin: 0 auto;     
  padding: 0 20px;
  width: 100%;
}

nav{
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #e5e5e5;
}